* {
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 16px;
    color: #d8dee9;
    box-shadow: none;
}

.notification {
    background: #3b4252;
    border: 2px solid #88c0d0;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 4px;
    margin-bottom: -5px;
    padding: 0px;
}

.notification-default-action:hover {
    background: #434c5e;
    border-radius: 10px;
}

.notification .notification-default-action .notification-content .image {
    border-radius: 8px;
}

.notification
    .notification-default-action
    .notification-content
    .text-box
    .summary {
    color: #d8dee9;
    font-size: 16px;
    margin-top: -1px;
    margin-left: 5px;
}

.notification
    .notification-default-action
    .notification-content
    .text-box
    .body {
    color: #d8dee9;
    margin-left: 5px;
}

.notification
    .notification-default-action
    .notification-content
    .text-box
    .time {
    color: #d8dee9;
    margin-right: 35px;
}

.close-button {
    color: #d8dee9;
    background: #3b4252;
    border-radius: 8px;
    margin-top: 13px;
    outline: none;
}

.close-button:hover {
    background: #bf616a;
}

/* Control Center */
.control-center {
    background: #3b4252;
    border: 2px solid #88c0d0;
    border-radius: 10px;
    box-shadow: none;
}

.control-center .notification-row {
    margin: 0px;
    padding: 0px;
    outline: none;
}

.control-center .notification {
    margin: 0px 0px -5px 0px;
    outline: none;
}

.control-center .notification-group {
    background: #2e3440;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
    padding: 7px 2px 12px 2px;
    outline: none;
}

.control-center
    .notification-group
    .notification-group-headers
    .notification-group-icon,
.control-center
    .notification-group
    .notification-group-headers
    .notification-group-header {
    color: #d8dee9;
}

.control-center
    .notification-group
    .notification-group-close-button
    .close-button {
    color: #88c0d0;
    background: none;
    outline: none;
}

/* Widgets */
.widget-title {
    color: #d8dee9;
    background: #2e3440;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    margin: 10px 10px -16px 10px;
}

.widget-title > label {
    font-size: 18px;
}

.widget-title > button {
    background: #3b4252;
    border: none;
    border-radius: 8px;
    padding: 2px 10px 2px 10px;
    margin: 7px 2px 7px 2px;
}

.widget-title > button > label {
    font-size: 12px;
}

.widget-title > button:hover {
    background: #bf616a;
}

.widget-dnd {
    color: #d8dee9;
    background: #2e3440;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    margin: 10px 10px 10px 10px;
}

.widget-dnd > switch {
    background: #3b4252;
    border: none;
    border-radius: 8px;
    margin: 5px 2px 5px 2px;
}

.widget-dnd > switch:checked {
    background: #b48ead;
    border: none;
    border-radius: 8px;
    margin: 5px 2px 5px 2px;
}

.widget-dnd > switch slider {
    background: #88c0d0;
    border: none;
    border-radius: 8px;
    margin: 2px 2px 2px 2px;
}

.widget-dnd > switch slider:checked {
    background: #3b4252;
    border: none;
    border-radius: 8px;
    margin: 2px 2px 2px 2px;
}

.widget-volume {
    color: #d8dee9;
    background: #2e3440;
    border-radius: 10px;
    padding: 0px 5px 5px 15px;
    margin: -10px 10px 10px 10px;
}

.widget-volume trough {
    background: #3b4252;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    outline: none;
}

.widget-volume trough highlight {
    background: #88c0d0;
    border: none;
    border-radius: 10px;
    padding: 5px;
    box-shadow: none;
    outline: none;
}

.widget-volume trough slider {
    background: none;
    border: none;
    outline: none;
}

.widget-volume trough:hover,
.widget-volume trough highlight:hover,
.widget-volume trough slider:hover {
    border: none;
    outline: none;
}

.widget-volume button {
    color: #d8dee9;
    background: #3b4252;
    border: none;
    border-radius: 8px;
    padding: 2px 12px 2px 6px;
    margin: 0px 8px 5px 2px;
    box-shadow: none;
    outline: none;
}

.widget-volume button:hover {
    color: #3b4252;
    background: #88c0d0;
    border: none;
    outline: none;
}

.widget-volume button label {
    text-shadow: none;
    font-size: 14px;
    outline: none;
}

.per-app-volume {
    color: #d8dee9;
    padding: 0px;
    margin: 0px;
    outline: none;
}

.widget-mpris {
    background: #2e3440;
    border-radius: 10px;
    padding: 0px;
    margin: 0px 10px 0px 10px;
}

.widget-mpris .widget-mpris-player {
    margin: 0px 0px 0px 0px;
    box-shadow: none;
}

.widget-mpris .widget-mpris-player .mpris-overlay {
    padding: 15px 11px 6px 15px;
    background-color: #2e3440;
}

.widget-mpris .widget-mpris-player .mpris-background {
    filter: none;
}

.widget-mpris .widget-mpris-player .mpris-overlay button {
    /* The media player buttons (play, pause, next, etc...) */
    margin-bottom: 0px;
}

.widget-mpris > box > button,
.widget-mpris > box > button:disabled,
.widget-mpris .widget-mpris-player .mpris-overlay > box > button,
.widget-mpris .widget-mpris-player .mpris-overlay > box > button:hover {
    /* Change player side buttons */
    background-color: #2e3440;
}

.widget-buttons-grid {
    background: #2e3440;
    border-radius: 10px;
    padding: 10px 10px 15px 10px;
    margin: 0px 10px 0px 10px;
    outline: none;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    color: #d8dee9;
    background: #3b4252;
    border: none;
    border-radius: 8px;
    padding: 5px 20px 5px 17px;
    margin: 2px;
    text-shadow: none;
    outline: none;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover,
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    color: #3b4252;
    background: #88c0d0;
    outline: none;
}
